body{
    /* background-color: blue; */
    margin: 0;
     background-image: url(/assets/img/Mapa_mundi.png); */
}

nav{
    height: 200;
    width: 100%;
    background:black;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.text-nav{
    text-decoration: none;
    font-size: 30px;

    color: #fff;

}
p{
    padding-block: 10;
    
    color:black;
    text-align: center;
    font-size: 35 px;
    letter-spacing:3px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1 { 
    color:white;
    font-family: Arial;
    text-decoration-color: snow;
    text-align: center;
    font: size 30px;
}
a {
    color:coral;
    font-family: arial;
    font-size: 30px;
    text-indent: 15px;

}

#icome{
    width: 46px;
    height: 44px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

#hero-home{

    width: 100%;
    

    display: flex;
    justify-content: center;
    align-items: center;
}
#hero-home img{


}

}
footer{
    font-family: ;
    text-align: center;
    color: antiquewhite;
    text-size-adjust: 50px;
    font-family: Arial;
}


