body{
    /* background-color: blue; */
    margin: 0;
     background-image: url(/assets/img/Mapa_mundi.png); */

}

nav{
    height: 200;
    width: 100%;
    background:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0%;
      
  
}

.text-nav{
    text-decoration: none;
    font-size: 30px;
    /* display: flex; */
    color: #fff;
    

}
p{
    padding-block: 10;
    
    color:black;
    text-align: left;
    font-size: 35 px;
    letter-spacing:3px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1 { 
    color:black;
    font-family: Arial;
    text-decoration-color: snow;
    text-align: center;
    font: size 30px;
}
h3 { 
    color:black;
    font-family: Arial;
    text-decoration-color: snow;
    text-align: center;
    font: size 30px;
}
a {
    color:black;
    font-family: arial;
    font-size: 30px;
    text-indent: 15px;

}

#icome{
    width: 46px;
    height: 44px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

#hero-home{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 50px; 
}
#hero-home img{


}


footer{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    text-size-adjust: 25px;
    font-family: Arial;
   /* padding: 25px, 50px;  */
}


