body{
    background-color: blue;
    margin: 0;

}

nav{
    height: 200;
    width: 100%;
    background:black;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.text-nav{
    text-decoration: none;
    font-size: 30px;

    color: #fff;

}
p{
    padding-block: 10;
    
    color:white;
    text-align:justify;
    font-size: 25 px;
    letter-spacing:3px;
}

h1 { 
    color:white;
    font-family: Arial;
    text-decoration-color: snow;
    text-align: center;
}
li {
    color:white;
    font-family: arial;
    font-size: 20px;
}

#icome{
    width: 46px;
    height: 44px;
    margin: 10px;
}